In [2]:
import pandas as pd
df = pd.read_csv('heart_2.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [5]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [6]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [15]:
df1 = df[df.Cholesterol<= df.Cholesterol.mean()+3*df.Cholesterol.std()]
df1.shape

(915, 12)

In [16]:
df2 = df1[df1.Cholesterol>= df.Cholesterol.mean()-3*df.Cholesterol.std()]
df2.shape

(915, 12)

In [18]:
df3 = df2[df2.RestingBP<= df.RestingBP.mean()+3*df.RestingBP.std()]
df3.shape

(908, 12)

In [19]:
df4 = df3[df3.RestingBP>= df.RestingBP.mean()-3*df.RestingBP.std()]
df4.shape

(907, 12)

In [20]:
df5 = df4[df4.Age>= df.Age.mean()-3*df.Age.std()]
df5.shape

(907, 12)

In [21]:
df6 = df5[df5.Age<= df.Age.mean()+3*df.Age.std()]
df6.shape

(907, 12)

In [22]:
df7 = df6[df6.FastingBS<= df.FastingBS.mean()+3*df.FastingBS.std()]
df7.shape

(907, 12)

In [23]:
df8 = df7[df7.FastingBS>= df.FastingBS.mean()-3*df.FastingBS.std()]
df8.shape

(907, 12)

In [24]:
df9 = df8[df8.MaxHR>= df.MaxHR.mean()-3*df.MaxHR.std()]
df9.shape

(906, 12)

In [26]:
df10 = df9[df9.Oldpeak>= df.Oldpeak.mean()-3*df.Oldpeak.std()]
df11 = df10[df10.Oldpeak<= df.Oldpeak.mean()+3*df.Oldpeak.std()]
df11.shape

(899, 12)

In [27]:
df11.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [28]:
df11.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [29]:
df11.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [30]:
df11.Sex.unique()

array(['M', 'F'], dtype=object)

In [31]:
df11.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [38]:
df12 = df11.copy()
df12.ExerciseAngina.replace(
    {
        'N':0,
        'Y':1
    },
    inplace=True)

In [39]:
df12.RestingECG.replace(
    {
        'Normal':1,
        'ST':2,
        'LVH':3
    },
    inplace=True)
df12.ST_Slope.replace(
    {
        'Up':1,
        'Flat':2,
        'Down':3
    },
    inplace=True)
df12.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,1,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,1,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,1,0

In [40]:
df13 = pd.get_dummies(df12, drop_first=True)
df13.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,1,0,1,1,0,0
1,49,160,180,0,1,156,0,1.0,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0.0,1,0,1,1,0,0
3,48,138,214,0,1,108,1,1.5,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0.0,1,0,1,0,1,0

In [61]:
X=df13.drop('HeartDisease', axis='columns')
y=df13.HeartDisease


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=20)

In [62]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
scores = cross_val_score(SVC(),X,y, cv=5)
scores.mean()

0.6918001241464928

In [63]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier(
    base_estimator=SVC(),
    n_estimators=100,
    max_samples=0.8,
    random_state=0
)
scores = cross_val_score(bag_model,X,y,cv=5)
scores.mean()

0.685127250155183

In [65]:
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(random_state=0),X,y,cv=5)
scores.mean()

0.7128739913097455

In [66]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(random_state=0),
    n_estimators=100,
    max_samples=0.9,
    oob_score=True,
    random_state=0
)
scores = cross_val_score(bag_model,X,y,cv=5)
scores.mean()

0.8008007448789571