In [3]:
import pandas as pd
df = pd.read_csv('heart.csv')
df.shape

(918, 12)

In [4]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [6]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [7]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [10]:
df2 = df1[df1.Cholesterol>=(df1.Cholesterol.mean()-3*df1.Cholesterol.std())]
df2.shape

(915, 12)

In [12]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [13]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.shape

(902, 12)

In [14]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [15]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [16]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [17]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [20]:
df4=df3.copy()
df4.ExerciseAngina.replace(
{
    'N':0,
    'Y':1
},
inplace=True)

df4.ST_Slope.replace(
{
    'Down':1,
    'Flat':2,
    'Up':3
},
    inplace=True)

df.RestingECG.replace(
{
    'Normal':1,
    'ST':2,
    'LVH':3
},
inplace=True)

df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,0,0.0,3,0
1,49,F,NAP,160,180,0,Normal,156,0,1.0,2,1
2,37,M,ATA,130,283,0,ST,98,0,0.0,3,0
3,48,F,ASY,138,214,0,Normal,108,1,1.5,2,1
4,54,M,NAP,150,195,0,Normal,122,0,0.0,3,0

In [21]:
df5 = pd.get_dummies(df4, drop_first=True)
df5.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST
0,40,140,289,0,172,0,0.0,3,0,1,1,0,0,1,0
1,49,160,180,0,156,0,1.0,2,1,0,0,1,0,1,0
2,37,130,283,0,98,0,0.0,3,0,1,1,0,0,0,1
3,48,138,214,0,108,1,1.5,2,1,0,0,0,0,1,0
4,54,150,195,0,122,0,0.0,3,0,1,0,1,0,1,0

In [23]:
X = df5.drop('HeartDisease', axis='columns')
y = df5.HeartDisease

X.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST
0,40,140,289,0,172,0,0.0,3,1,1,0,0,1,0
1,49,160,180,0,156,0,1.0,2,0,0,1,0,1,0
2,37,130,283,0,98,0,0.0,3,1,1,0,0,0,1
3,48,138,214,0,108,1,1.5,2,0,0,0,0,1,0
4,54,150,195,0,122,0,0.0,3,1,0,1,0,1,0

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ..., -0.22914788,
         0.80934904, -0.49062742],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.22914788,
         0.80934904, -0.49062742],
       [-1.74679706, -0.10495034,  0.79657967, ..., -0.22914788,
        -1.23556086,  2.03820649],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.22914788,
         0.80934904, -0.49062742],
       [ 0.37209878, -0.10495034,  0.35947592, ..., -0.22914788,
        -1.23556086, -0.49062742],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.22914788,
         0.80934904, -0.49062742]])

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=2)

In [27]:
from sklearn.ensemble import RandomForestClassifier
model_rf  = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test,y_test)

0.8342541436464088

In [28]:
from sklearn.decomposition import PCA
pca = PCA(0.95)
X_pca = pca.fit_transform(X_scaled)
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=2)
model_rf  = RandomForestClassifier()
model_rf.fit(X_train_pca, y_train)
model_rf.score(X_test_pca,y_test)

0.8397790055248618